# Load libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit

# Load Dataset

Download dataset from git repository

In [ ]:
! wget https://github.com/CapitalOneRecruiting/DS/raw/master/transactions.zip

--2022-07-25 03:44:53--  https://github.com/CapitalOneRecruiting/DS/raw/master/transactions.zip
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/CapitalOneRecruiting/DS/master/transactions.zip [following]
--2022-07-25 03:44:53--  https://raw.githubusercontent.com/CapitalOneRecruiting/DS/master/transactions.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 30522086 (29M) [application/zip]
Saving to: ‘transactions.zip’

transactions.zip    100%[===================>]  29.11M   152MB/s    in 0.2s

2022-07-25 03:44:54 (152 MB/s) - ‘transactions.zip’ saved [30522086/30522086]

Unzip the downloaded repository

In [ ]:
!unzip transactions.zip

Archive:  transactions.zip
  inflating: transactions.txt

Read data in json file

In [ ]:
txn_df = pd.read_json("transactions.txt",lines = True)
txn_df.replace("",np.nan,inplace = True) #While reading the dataset som columns had blank values (""). So, replace the blank strings with np.nan

# Explore Dataset

In [ ]:
pd.set_option('display.max_columns',None)
txn_df.head()

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,posConditionCode,merchantCategoryCode,currentExpDate,accountOpenDate,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,01,rideshare,06/2023,2015-03-14,2015-03-14,414,414,1803,PURCHASE,NaN,0.0,NaN,NaN,NaN,False,NaN,NaN,False,False
1,737265056,737265056,5000,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,01,entertainment,02/2024,2015-03-14,2015-03-14,486,486,767,PURCHASE,NaN,0.0,NaN,NaN,NaN,True,NaN,NaN,False,False
2,737265056,737265056,5000,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,01,mobileapps,08/2025,2015-03-14,2015-03-14,486,486,767,PURCHASE,NaN,0.0,NaN,NaN,NaN,False,NaN,NaN,False,False
3,737265056,737265056,5000,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,01,mobileapps,08/2025,2015-03-14,2015-03-14,486,486,767,PURCHASE,NaN,0.0,NaN,NaN,NaN,False,NaN,NaN,False,False
4,830329091,830329091,5000,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,01,fastfood,10/2029,2015-08-06,2015-08-06,885,885,3143,PURCHASE,NaN,0.0,NaN,NaN,NaN,True,NaN,NaN,False,False

Dataset have 786,363 rows and 29 features

In [ ]:
txn_df.shape

(786363, 29)

In [ ]:
#Column names
txn_df.columns

Index(['accountNumber', 'customerId', 'creditLimit', 'availableMoney',
       'transactionDateTime', 'transactionAmount', 'merchantName',
       'acqCountry', 'merchantCountryCode', 'posEntryMode', 'posConditionCode',
       'merchantCategoryCode', 'currentExpDate', 'accountOpenDate',
       'dateOfLastAddressChange', 'cardCVV', 'enteredCVV', 'cardLast4Digits',
       'transactionType', 'echoBuffer', 'currentBalance', 'merchantCity',
       'merchantState', 'merchantZip', 'cardPresent', 'posOnPremises',
       'recurringAuthInd', 'expirationDateKeyInMatch', 'isFraud'],
      dtype='object')

In [ ]:
txn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786363 entries, 0 to 786362
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   accountNumber             786363 non-null  object
 1   customerId                786363 non-null  object
 2   creditLimit               786363 non-null  int64
 3   availableMoney            786363 non-null  float64
 4   transactionDateTime       786363 non-null  datetime64[ns]
 5   transactionAmount         786363 non-null  float64
 6   merchantName              786363 non-null  object
 7   acqCountry                781801 non-null  object
 8   merchantCountryCode       785639 non-null  object
 9   posEntryMode              782309 non-null  object
 10  posConditionCode          785954 non-null  object
 11  merchantCategoryCode      786363 non-null  object
 12  currentExpDate            786363 non-null  datetime64[ns]
 13  accountOpenDate           786363 non-null  datetime64[ns]
 14  dateOfLastAddressChange   786363 non-null  datetime64[ns]
 15  cardCVV                   786363 non-null  object
 16  enteredCVV                786363 non-null  object
 17  cardLast4Digits           786363 non-null  object
 18  transactionType           785665 non-null  object
 19  currentBalance            786363 non-null  float64
 20  cardPresent               786363 non-null  bool
 21  expirationDateKeyInMatch  786363 non-null  bool
 22  isFraud                   786363 non-null  bool
dtypes: bool(3), datetime64[ns](4), float64(3), int64(1), object(12)
memory usage: 122.2+ MB

Check datatype and percentage of missing value in each column

In [ ]:
def sniff(df):
  """
  Function identifies the datatype and also calculates the percentage of missing values of all columns of input dataframe 

  Parameter and type: 
    df(Pandas Dataframe): Dataframe

  Return:
    :rtype: Dataframe 
    :return: Dataframe with column names, their datatypes and percentage of missing values, sorted by data types 

  """
  with pd.option_context("display.max_colwidth", 20):
    info = pd.DataFrame()
    info['sample'] = df.iloc[0]
    info['data type'] = df.dtypes
    info['percent missing'] = df.isnull().sum()*100/len(df)
    return info.sort_values('data type')

In [ ]:
# Check datatypes and percentage of missing values for all columns of transaction data
sniff(txn_df)

                                       sample data type  percent missing
isFraud                                 False      bool         0.000000
cardPresent                             False      bool         0.000000
expirationDateKeyInMatch                False      bool         0.000000
cardLast4Digits                          1803     int64         0.000000
enteredCVV                                414     int64         0.000000
cardCVV                                   414     int64         0.000000
accountNumber                       737265056     int64         0.000000
creditLimit                              5000     int64         0.000000
customerId                          737265056     int64         0.000000
recurringAuthInd                          NaN   float64       100.000000
posOnPremises                             NaN   float64       100.000000
merchantZip                               NaN   float64       100.000000
merchantState                             NaN   float64       100.000000
merchantCity                              NaN   float64       100.000000
transactionAmount                       98.55   float64         0.000000
currentBalance                            0.0   float64         0.000000
availableMoney                         5000.0   float64         0.000000
echoBuffer                                NaN   float64       100.000000
acqCountry                                 US    object         0.580139
merchantName                             Uber    object         0.000000
transactionDateTime       2016-08-13T14:27:32    object         0.000000
accountOpenDate                    2015-03-14    object         0.000000
currentExpDate                        06/2023    object         0.000000
merchantCategoryCode                rideshare    object         0.000000
posConditionCode                           01    object         0.052012
posEntryMode                               02    object         0.515538
merchantCountryCode                        US    object         0.092069
transactionType                      PURCHASE    object         0.088763
dateOfLastAddressChange            2015-03-14    object         0.000000

Drop columns with 100% missing value

In [ ]:
col_to_drop = ['recurringAuthInd','posOnPremises','merchantZip','merchantState','merchantCity','echoBuffer']
txn_df.drop(col_to_drop,axis = 1,inplace = True)

### Change datatype of columns

In [ ]:
def change_dtype(df,columns,new_dtype):
  """
  Function convert datatype of specified columns in dataframe to new datatype 

  Parameter and type: 
    df(Pandas Dataframe): Dataframe
    columns(List): List of columns of dataframe that needs datatype conversion 
    new_dtype(str): New datatype of column (object, int64, float64, datetime64, bool etc.)

  Return:
    :rtype: Dataframe 
    :return: Dataframe with new  
  """
  for col in columns :
    df[col] = df[col].astype(new_dtype)

Convert numeric datatype to object datatype

In [ ]:
num_cols = ['cardLast4Digits','enteredCVV','cardCVV','accountNumber','customerId']
change_dtype(txn_df, num_cols, 'object')

Convert object datatype to datetime datatype for all date related columns in transaction data

In [ ]:
object_cols = ['transactionDateTime','accountOpenDate','currentExpDate','dateOfLastAddressChange']
change_dtype(txn_df, object_cols, 'datetime64[ns]')

# Split data into train and test set (80:20)

In [ ]:
#check the target distribution before splitting
txn_df.isFraud.value_counts()/len(txn_df)

False    0.98421
True     0.01579
Name: isFraud, dtype: float64

In [ ]:
#stratified split to keep the distribution of target variable same among the splits (i.e. train and test dataset)
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(txn_df, txn_df["isFraud"]):
    strat_train_set = txn_df.loc[train_index]
    strat_test_set = txn_df.loc[test_index]

Save dataframes to pickle file

In [ ]:
# Remove this code 
import os 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
pd.to_pickle(txn_df, 'transaction_dataset', protocol=4)
pd.to_pickle(strat_train_set, 'train_df', protocol=4)
pd.to_pickle(strat_test_set, 'test_df', protocol=4)